/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/css/styles.css
/public/css/dataTable.css
/public/css/laravel.css
/public/css/customize.css
/public/css/table.css
/public/js/app.js
/public/js/utility
/public/fonts/vendor
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
